html {
    font-family: sans-serif;
}

body {
    display: grid;
    margin: 0px ;
    background-color: #f7f5f4;
}

header {
    text-align: center;
    background-color: #1f2429;
    color: white;
}

#img-div {
    background-color: #007d91;
    align-content: center;
    color: white;
    margin: 0;
    display: grid;
    justify-items: center;
}

#image {
    margin: 1% 1% 0% 1%;
    max-width: 960px;
    /* max-height: 600px; */
}

#img-caption {
    margin: 1%;
}

#tribute-info {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 0% 25% 0% 25%;
}

@media (max-width: 1200px) {
    #tribute-info {
        max-width: 600px;
        margin: auto;
        justify-content: center;
    }
}

li {
    text-align: start;
    list-style: none;
    margin-bottom: 1rem;
}

blockquote {
    text-align: start;
    margin-top: -1rem;
}

h3 {
    color: #008296;
}

strong {
    color: #008296
}

a {
    color: #67cbb0;
}